name: Build and test
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

# This allows a subsequently queued workflow run to interrupt and cancel previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Run-Unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ 3.7, 3.8, 3.9, '3.10' ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '${{ matrix.python }}'
          architecture: 'x64'
      - run: pip install -U pip wheel
      - run: pip install -r requirements.txt
      - run: pytest --junit-xml=test-report/report.xml tests
